/*This is a comment*/
html,body {
	text-align: justify;
}

h1,h2,h3,h4,p,form,li {
	font-family:Arial;
	/*margin-left: 20px;*/
}
h1 {
	text-align: center;
	font-size: 50px;
	letter-spacing: 0.1em;
	background-color: DarkCyan;
	}
h4 {
  font-size: 18px;
  margin-bottom: 4px;
}

p {
	font-size: 18px;
	line-height: 24px;
	word-spacing: 0.1em;
	margin-bottom: 20px;
	}
	
li {
  font-size: 18px;
	line-height: 24px;
	word-spacing: 0.1em;
}

ul {
  margin-bottom: 20px;
}
	
a {
	color: rgb(102,151,153);
	color: hsl(182, 20%, 50%);
	/*hue,saturation,ligntness*/
	font-family: arial;
}

table {
  border: 1px solid black;
  margin: 0 20px 0 0; /* top right bottom left */
  font-size: 18px; 
  width: 100%;
  line-height: 30px;
}

td, th {
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}

td {
  font-size: 16px;
}

button {
	background-position: 20px 20px;
}

form {
	margin-left: 50px;
	margin-top: 50px;
  	line-height: 2em;
  }
  
  input {
  	background-position: 10px 12px;
}

#rowName {
  font-weight: bold;
  width: 25%;
}

.parHeading {
  background-color: DarkCyan;
}

.p2 {
  font-size: 16px;
}

.shinyGadget {
  border-bottom-style: solid;
  border-top-style: solid;
	border-color: DarkCyan;
	padding: 15px;
}

.titleSection {
  border-top-style: solid;
	border-color: DarkCyan;
	margin-top: 40px;
}